# Arquivos e diretórios do Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
venv/
.env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Configurações do IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Arquivos de logs e caches
*.log
*.cache
*.pytest_cache/

# Dependências
Pipfile
Pipfile.lock
poetry.lock

# Arquivos de banco de dados SQLite
*.sqlite3
*.db

# Arquivos do Jupyter Notebook
.ipynb_checkpoints/

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Ignore pytoolsc_env:
/py_env/
/bin/
/tests/

